form {
 /*   display: flex;
    flex-direction: column;
    align-items: center;

  */
    margin-bottom: 24px;
    max-width: 645px;
}

.containerForListOfQuestionsInForm {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(2, 1fr); /* Здесь 50% 50% указать?*/
    grid-template-areas:

    "InputOfRange . "
    "InputOfSelect InputOfRadio"
    "InputOfName inputOfAge"
    "inputForRequiredCheckbox inputForNotRequiredCheckbox";
    gap: 28px 15px;
}

.containerForCheckboxes {
    display: flex;
    flex-direction: row;
    max-width: 645px;
    margin: 0 auto;

}

.mainContainerForInputOfRange {
    display: grid;
    grid-area: InputOfRange;
    gap: 10px 10px;
    grid-template-areas:
    "textForInputOfRange textForInputOfRange"
    "firstInputForRange secondInputForRange"
    "div div";
}

.mainContainerForInputOfSelect,
.mainContainerForInputOfName,
.mainContainerForAge {
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: auto auto;
    gap: 10px;
}

.mainContainerForRadio {
    display: grid;
    border: none;
    padding: 0 0;
max-width: 315px;
    grid-template-areas:
    "textForInputOfRadio textForInputOfRadio textForInputOfRadio"
    "firstInputForRadio secondInputForRadio thirdInputForRadio";
    gap: 10px 10px;
}
.radio {
    opacity: 50%;
}

.containerForRadio {
    grid-area: textForInputOfRadio;

}
.firstInputForRadio {
    grid-area: firstInputForRadio;
}
.secondInputForRadio {
    grid-area: secondInputForRadio;
}
.thirdInputForRadio {
    grid-area: thirdInputForRadio;
}
.inputForRangeFromZero {
    grid-area: firstInputForRange;
}
.inputForRangeTo {
    grid-area: secondInputForRange;
}
.inputForRangeFromZero,
.inputForRangeTo {
    width: 151px;
    height: 35px;
    border: 1px solid black;
}
.mainContainerForInputOfRange div {
    grid-area: div;
}

.containerForInputOfRange {
    grid-area: textForInputOfRange;
}

.mainContainerForInputOfName {
    grid-area: InputOfName;

}

select {
    width: 315px;
}

.mainContainerForInputOfSelect {
    grid-area: InputOfSelect;
}

.mainContainerForRequiredCheckbox {
    grid-area: inputForRequiredCheckbox;
    margin-right: 18px;
    position: relative;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}


.selectOfProjectBuilders
{
    background-position: right 10px center;
    background-image: url('Polygon 1.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    opacity: 1;
    background-color: white;
    padding: 0 0;
    margin: 0 0;
    -moz-appearance: none;
    -webkit-appearance: none;

}

option {
    appearance: none;
    padding: 0 0;
    margin: 0 0;
    border: none;
    background-size: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    border: 0;
}

option:after {
    border: solid 5px white;
}
.selectOfProjectBuilders:focus {
    background-position: right 10px center;
    background-image: url('Polygon 2.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    opacity: 1;
}

.optionOfProjectBuilders {
    background-color: black;
    color: white;
}

.optionOfProjectBuilders:nth-child(3) {
    background-color: rgba(2, 91, 88, 1);
}


.selectOfProjectBuilders:first-child,
input:not([type = checkbox], [type = radio]) {
    font-family: "Source Code Pro", monospace;
    padding-left: 10px;
    color: rgba(129, 129, 129, 1);
}
select:focus,
input:not([type = checkbox], [type = radio]):focus {
    border: solid 5px green;
}

label,
.containerForRadio {
    font-weight: 500;
}


.requiredCheckbox :checked ~ button {
    opacity: 1;
    appearance: none;
    border: 1px solid black;
    width: 14px;
    height: 13px;
}

.requiredCheckbox,
.notRequiredCheckbox {
    appearance: none;
    border: 1px solid black;
    width: 14px;
    height: 13px;

}

.mainContainerForRequiredCheckbox,
.mainContainerForNotRequiredCheckbox {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 8px;
}


.requiredCheckbox:checked,
.notRequiredCheckbox:checked {
    appearance: none;
    border: 1px solid rgba(2, 91, 88, 1);
    width: 14px;
    height: 13px;
    background-color: rgba(2, 91, 88, 1);
}


.requiredCheckbox:checked::before,
.notRequiredCheckbox:checked::before,
.requiredCheckbox:checked::after,
.notRequiredCheckbox:checked::after {
    content: "";
    border: 1px solid white;
    background-color: white;
background-repeat: no-repeat;
    width: 9px;
margin: 0 auto;

    position: absolute;
    top: 9px;
    left: 6px;



}



.requiredCheckbox:checked::before,
.notRequiredCheckbox:checked::before {
    rotate: 45deg;

}

.requiredCheckbox:checked::after,
.notRequiredCheckbox:checked::after {
    rotate: -45deg;

}

/*
.mainContainerForNotRequiredCheckbox:after,
.mainContainerForNotRequiredCheckbox:before {
    content: "";
    border: 1px solid black;
    width: 9px;
    position: absolute;
    top: 9px;
    left: 6px;
}

.mainContainerForNotRequiredCheckbox:before {
    rotate: 45deg;
}
 */

select {
    appearance: none;
}

.mainContainerForNotRequiredCheckbox {
    grid-area: inputForNotRequiredCheckbox;
    position: relative;
}

.mainContainerForRadio {
    grid-area: InputOfRadio;
}

.mainContainerForAge {
    grid-area: inputOfAge;
}

.choosedTypeOfProgrammingLanguage {
    appearance: none;
    opacity: 1;
    background-color: rgba(2, 91, 88, 1);
    border-radius: 50%;

    width: 14px;
    height: 14px;
}

.selectOfProgrammingLanguages {
    appearance: none;

    border: solid black 1px;

    border-radius: 50%;
    width: 13px;
    height: 13px;
}