body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}

.header {
  display: flex;
  margin-bottom: 37px;
  height: 221px;
}

.containerForHeadingAndTextInHeader {
  position: relative;
  background-color: black;
  flex-grow: 2;
}

.extraInnerContainerForHeadingAndTextInHeader {
  position: absolute;

  right: 50px;
  width: 363px;
}
.text,
.firstHeading {
  color: white;
}

.firstHeading {
  margin-bottom: 12px;
}

img {
  flex-grow: 1;
}

form {
  margin-bottom: 24px;
}
h2 {
  text-align: left;
  width: 645px;
  margin: 0 auto;
}
.containerForListOfQuestionsInForm {
  display: grid;
  justify-content: center;
  grid-template-columns: 315px 315px;
  gap: 10px 15px;
  grid-template-areas:
    "InputOfRange . "
    "InputOfSelect InputOfRadio"
    "InputOfName inputOfAge"
    "inputForRequiredCheckbox inputForNotRequiredCheckbox";
}
.infoOfApplicant {
  color: black;
  font-size: 12px;
}
.containerForCheckboxes {
  display: flex;
  flex-direction: row;
  width: 645px;
  margin: 0 auto;
}

.groupOButtonsToCleanFormAndSubmitForm {
  width: 645px;
  margin: 0 auto;
}
select,
.mainContainerForInputOfName input,
.mainContainerForAge input {
  width: 315px;
  height: 35px;
  border: 1px solid black;
}

.doubleRange {
}

footer,
main {
  margin: 0 158px; /* здесь глянуть*/
}

h2 {
  margin-bottom: 16px;
}
footer {
  width: 645px;
  margin: 0 auto;
}
.containerForFirdHeadingAndText {
  width: 645px;
  margin: 0 auto;
  margin-bottom: 36px;
}
.mainContainerForInputOfRange {
  display: grid;
  grid-area: InputOfRange;
  gap: 10px 10px;
  grid-template-areas:
    "textForInputOfRange textForInputOfRange"
    "firstInputForRange secondInputForRange"
    "div div";
}

.mainContainerForInputOfSelect,
.mainContainerForInputOfName,
.mainContainerForAge {
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: auto auto;
  gap: 10px;
}

.mainContainerForRadio {
  display: grid;
  border: none;
  grid-template-areas:
    "textForInputOfRadio textForInputOfRadio textForInputOfRadio"
    "firstInputForRadio secondInputForRadio thirdInputForRadio";
  gap: 10px 10px;
}
.radio {
  opacity: 50%;
}

.containerForRadio {
  grid-area: textForInputOfRadio;

}
.firstInputForRadio {
  grid-area: firstInputForRadio;
}
.secondInputForRadio {
  grid-area: secondInputForRadio;
}
.thirdInputForRadio {
  grid-area: thirdInputForRadio;
}
.inputForRangeFromZero {
  grid-area: firstInputForRange;
}
.inputForRangeTo {
  grid-area: secondInputForRange;
}
.inputForRangeFromZero,
.inputForRangeTo {
  width: 151px;
  height: 35px;
  border: 1px solid black;
}
.mainContainerForInputOfRange div {
  grid-area: div;
}

.buttonToCleanForm,
.button {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 43px;
  background-color: rgba(2, 91, 88, 1);
  color: white;
  width: 150px;
  height: 38px;
  box-shadow: 6px 5px black;
}
.buttonToCleanForm {
  background-color: pink;
}
.button:hover {
  border: 2px solid purple;
}
.containerForInputOfRange {
  grid-area: textForInputOfRange;
}

.mainContainerForInputOfName {
  grid-area: InputOfName;
}

.mainContainerForInputOfSelect {
  grid-area: InputOfSelect;
}

.mainContainerForRequiredCheckbox {
  grid-area: inputForRequiredCheckbox;
  margin-right: 18px;
  position: relative;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

li {
  list-style: none;
}

select {
  appearance: none;
}

.mainContainerForNotRequiredCheckbox {
  grid-area: inputForNotRequiredCheckbox;
  position: relative;
}

.mainContainerForRadio {
  grid-area: InputOfRadio;
}

.mainContainerForAge {
  grid-area: inputOfAge;
}

.borderline {
  border-bottom: solid 1px black;
  opacity: 25%;
}

.popup {
  width: 410px;
  height: 215px;
  border: none;
  box-shadow: 10px 10px black;
  position: relative;
}

.choosedTypeOfProgrammingLanguage {
 appearance: none;
  opacity: 1;
  background-color: rgba(2, 91, 88, 1);
  border-radius: 50%;
  width: 13px;
  height: 13px;
}

.disabled {
  opacity: 0.5;
}

.requiredCheckbox :checked ~ button {
  opacity: 1;
  appearance: none;
  border: 1px solid black;
  width: 14px;
  height: 13px;
}

.requiredCheckbox,
.notRequiredCheckbox {
  appearance: none;
  border: 1px solid black;
  width: 14px;
  height: 13px;
}

.requiredCheckbox:checked,
.notRequiredCheckbox:checked {
  appearance: none;
  border: 1px solid rgba(2, 91, 88, 1);
  width: 14px;
  height: 13px;
  background-color: rgba(2, 91, 88, 1);
}

.requiredCheckbox:checked::before,
.notRequiredCheckbox:checked::before {
  content: "";
border: 1px solid white;
  width: 9px;
  position: absolute;
rotate: 45deg;
  top: 9px;
  left: 6px;
}

.requiredCheckbox:checked::after,
.notRequiredCheckbox:checked::after {
  content: "";
  border: 1px solid white;
  width: 9px;
  rotate: -45deg;
  position: absolute;
  top: 9px;
  left: 6px;
}

.closeBottonForPopup {
  appearance: none;
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: rgba(2, 91, 88, 1);
  color: white;
  width: 75px;
  height: 38px;
  box-shadow: 6px 5px black;
}
.popup::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}
.titleOfSubmittedForm {
  font-weight: 700;
  margin-bottom: 8px;
  margin-left: 40px;
}

@media (max-width: 600px) {

  footer,
  main {
    margin: 0 0;
  }

  .image {
    height: 220px;
  }

.containerForListOfQuestionsInForm {
  display: flex;
  flex-direction: column;
  }

  .mainContainerForInputOfRange,
  .mainContainerForInputOfSelect,
  .mainContainerForInputOfName,
  .mainContainerForAge {
    display: flex;
    flex-direction: column;
  }
}
.selectOfProjectBuilders
{
  background-position: right 10px center;
  background-image: url('Polygon 1.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  opacity: 1;
}

.selectOfProjectBuilders:focus {
  background-position: right 10px center;
  background-image: url('Polygon 2.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  opacity: 1;
}

.optionOfProjectBuilders {
  background-color: black;
 color: white;
}

.optionOfProjectBuilders:nth-child(3) {
background-color: rgba(2, 91, 88, 1);
}

.inputForRangeFromZero::placeholder,
.inputForRangeTo::placeholder,
.selectOfProjectBuilders:first-child,
.inputForName::placeholder,
.inputToEnterAge::placeholder {
  font-family: "Source Code Pro", monospace;
  padding-left: 10px;
  opacity: 0.5;
}

label {
  font-weight: 500;
}